
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Segoe UI', sans-serif;
}

html{ 
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 100%;
}
html, body {
      margin: 0;
      padding: 0;
      background: #000;
      color:#ffffff;
      overflow: hidden;
      height: 100%;
      font-family: 'Segoe UI', sans-serif;
    }

    canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;    
  height: 100vh;  
  z-index: -1;  
  background: #000; 
}


    .instruction {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.5rem;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 4px;
      user-select: none;
      pointer-events: none;
      text-align: center;
      z-index: 10;
 
    }


/* Navigation Bar */

header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem 5%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  backdrop-filter: blur(10px);
  z-index: 1000;
}

#menu-icon{
    font-size: 3.5rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

.logo {
  font-size: 20%;
  font-weight: bold;
  color: #00FF00;      
  text-decoration: none;
}

/* Home */

.main-content {
    margin-top: 30%; 
    padding: 20%;
}
.hero {
  display: flex;
  flex-direction: column;  
  justify-content: flex-start; 
  align-items: center;
  min-height: 85vh;        
  text-align: center;
  padding-top: 10%;  
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.hero-photo {
  width: 40%;          
  height: 40%;
  object-fit: cover;    
  border-radius: 50%;   
  border: 3% solid #fff; 
  margin-bottom: 10px;  
}

.hero-title {
  font-size: 50px;
  font-weight: bold;
}

.hero-subtitle {
  font-size: 35px;
  margin: 10px 0;
}

.hero-description {
  font-size: 20px;
  color: #cccccc;
}

 /* BUTTONS */
 /* From Uiverse.io by Spacious74 */ 
button {
  font-size: 1em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.container {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;
}

.container::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.container:hover::before {
  background: linear-gradient(90deg, #03f417, #2d9c4e);
  filter: blur(1.2em);
}
.container:active::before {
  filter: blur(0.2em);
}

.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.btn {
  display: block;
  font-size: 1.4em;
  padding: 0.8em 1.4em;
  border-radius: 0.5em;
  background: linear-gradient(90deg, #138d25, #41f47a);
  color: #fff;
  text-decoration: none;
  box-shadow: 2px 2px 3px #000000b4;
  transition: all 0.3s ease;
}

.btn:hover {
  filter: brightness(1.2);
  transform: scale(1.05);
}



/* Home */


