
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    font-family: 'Source Serif 4', serif;
}

html{ 
    font-size: 60%;
    overflow-x: hidden;
    scroll-padding-top: 100%;
}
html, body {
      margin: 0;
      padding: 0;
      background: #000;
      color:#ffffff;
      overflow: hidden;
      height: 100%;
    
    }

  canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;    
  height: 100vh;  
  z-index: -1;  
  background: #000; 
}


    .instruction {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 3.5rem;
      color: #ffffff;
      text-transform: uppercase;
      letter-spacing: 4px;
      user-select: none;
      pointer-events: none;
      text-align: center;
      z-index: 10;
 
    }

.logo {
  font-size: 25px;
  font-weight: 300;
  font-family: 'Playfair Display', serif;
  color: #ffffff;   
  letter-spacing: 5px;   
  text-decoration: none;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.logo-container {
  display: flex;
  align-items: center;
}

.nav-links {
  display: flex;
  font-family: 'Playfair Display', serif;
  list-style: none;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li {
  margin-left: 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.nav-links a:hover {
  background-color: #545454;
  color: #666666;
}

.links-container {
  display: block;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 6px;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background-color: white;
  border-radius: 3px;
  transition: 0.3s ease-in-out;
}

.links-container {
  display: block;
}


.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #000000;
    padding: 15px 50px; 
    z-index: 1000;

}
.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  padding-top: 60px;
}

.hero-photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.hero-title {
  font-size: 50px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
}

.hero-subtitle {
  font-size: 35px;
   font-family: 'Source Serif 4', serif;
  margin: 10px 0 auto;
}

.hero-description {
  font-size: 20px;
    font-family: 'Source Serif 4', serif; 
  color: #cccccc;
}

 /* BUTTONS */
 /* From Uiverse.io by Spacious74 */ 
button {
  font-size: 5em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}


.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  margin-top: 1rem;
}



.btn {
  padding: 1.2rem 2.4rem;
  font-family: 'Source Serif 4', serif;
  border: none;
  background:  #1a356a;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 25px;
  transition: transform 0.2s ease, box-shadow 0.3s ease;
  width: 230px;
  text-align: center;
}


.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 15px #5b93fa;
}

/* Home */





